//Gowin GW2AR-18CQN88 constraints file
//Project: TestPipeline
//Generated automatically by CCFGen

IO_LOC "clock" 114;
IO_PORT "clock" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "reset" 48;
IO_PORT "reset" IO_TYPE=LVCMOS33;
IO_LOC "in_valid" 83;
IO_PORT "in_valid" IO_TYPE=LVCMOS33;
IO_LOC "in_ready" 11;
IO_PORT "in_ready" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[0]" 80;
IO_PORT "in_bits[0]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[1]" 122;
IO_PORT "in_bits[1]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[2]" 41;
IO_PORT "in_bits[2]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[3]" 161;
IO_PORT "in_bits[3]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[4]" 72;
IO_PORT "in_bits[4]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[5]" 101;
IO_PORT "in_bits[5]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[6]" 63;
IO_PORT "in_bits[6]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[7]" 125;
IO_PORT "in_bits[7]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[8]" 58;
IO_PORT "in_bits[8]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[9]" 62;
IO_PORT "in_bits[9]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[10]" 147;
IO_PORT "in_bits[10]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[11]" 171;
IO_PORT "in_bits[11]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[12]" 21;
IO_PORT "in_bits[12]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[13]" 39;
IO_PORT "in_bits[13]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[14]" 107;
IO_PORT "in_bits[14]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[15]" 164;
IO_PORT "in_bits[15]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[16]" 30;
IO_PORT "in_bits[16]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[17]" 24;
IO_PORT "in_bits[17]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[18]" 75;
IO_PORT "in_bits[18]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[19]" 92;
IO_PORT "in_bits[19]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[20]" 53;
IO_PORT "in_bits[20]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[21]" 6;
IO_PORT "in_bits[21]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[22]" 169;
IO_PORT "in_bits[22]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[23]" 8;
IO_PORT "in_bits[23]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[24]" 40;
IO_PORT "in_bits[24]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[25]" 146;
IO_PORT "in_bits[25]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[26]" 27;
IO_PORT "in_bits[26]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[27]" 82;
IO_PORT "in_bits[27]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[28]" 136;
IO_PORT "in_bits[28]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[29]" 123;
IO_PORT "in_bits[29]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[30]" 117;
IO_PORT "in_bits[30]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[31]" 49;
IO_PORT "in_bits[31]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[32]" 139;
IO_PORT "in_bits[32]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[33]" 42;
IO_PORT "in_bits[33]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[34]" 124;
IO_PORT "in_bits[34]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[35]" 59;
IO_PORT "in_bits[35]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[36]" 55;
IO_PORT "in_bits[36]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[37]" 33;
IO_PORT "in_bits[37]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[38]" 165;
IO_PORT "in_bits[38]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[39]" 160;
IO_PORT "in_bits[39]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[40]" 78;
IO_PORT "in_bits[40]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[41]" 148;
IO_PORT "in_bits[41]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[42]" 100;
IO_PORT "in_bits[42]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[43]" 57;
IO_PORT "in_bits[43]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[44]" 93;
IO_PORT "in_bits[44]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[45]" 35;
IO_PORT "in_bits[45]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[46]" 158;
IO_PORT "in_bits[46]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[47]" 126;
IO_PORT "in_bits[47]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[48]" 143;
IO_PORT "in_bits[48]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[49]" 172;
IO_PORT "in_bits[49]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[50]" 31;
IO_PORT "in_bits[50]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[51]" 37;
IO_PORT "in_bits[51]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[52]" 32;
IO_PORT "in_bits[52]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[53]" 174;
IO_PORT "in_bits[53]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[54]" 137;
IO_PORT "in_bits[54]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[55]" 56;
IO_PORT "in_bits[55]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[56]" 51;
IO_PORT "in_bits[56]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[57]" 71;
IO_PORT "in_bits[57]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[58]" 52;
IO_PORT "in_bits[58]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[59]" 25;
IO_PORT "in_bits[59]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[60]" 7;
IO_PORT "in_bits[60]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[61]" 47;
IO_PORT "in_bits[61]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[62]" 79;
IO_PORT "in_bits[62]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[63]" 168;
IO_PORT "in_bits[63]" IO_TYPE=LVCMOS33;
IO_LOC "out_valid" 111;
IO_PORT "out_valid" IO_TYPE=LVCMOS33;
IO_LOC "out_ready" 98;
IO_PORT "out_ready" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[0]" 81;
IO_PORT "out_bits[0]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[1]" 36;
IO_PORT "out_bits[1]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[2]" 84;
IO_PORT "out_bits[2]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[3]" 54;
IO_PORT "out_bits[3]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[4]" 9;
IO_PORT "out_bits[4]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[5]" 74;
IO_PORT "out_bits[5]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[6]" 60;
IO_PORT "out_bits[6]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[7]" 10;
IO_PORT "out_bits[7]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[8]" 105;
IO_PORT "out_bits[8]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[9]" 70;
IO_PORT "out_bits[9]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[10]" 145;
IO_PORT "out_bits[10]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[11]" 28;
IO_PORT "out_bits[11]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[12]" 120;
IO_PORT "out_bits[12]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[13]" 142;
IO_PORT "out_bits[13]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[14]" 157;
IO_PORT "out_bits[14]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[15]" 9;
IO_PORT "out_bits[15]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[16]" 156;
IO_PORT "out_bits[16]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[17]" 20;
IO_PORT "out_bits[17]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[18]" 113;
IO_PORT "out_bits[18]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[19]" 170;
IO_PORT "out_bits[19]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[20]" 99;
IO_PORT "out_bits[20]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[21]" 64;
IO_PORT "out_bits[21]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[22]" 167;
IO_PORT "out_bits[22]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[23]" 121;
IO_PORT "out_bits[23]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[24]" 16;
IO_PORT "out_bits[24]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[25]" 18;
IO_PORT "out_bits[25]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[26]" 77;
IO_PORT "out_bits[26]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[27]" 149;
IO_PORT "out_bits[27]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[28]" 144;
IO_PORT "out_bits[28]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[29]" 173;
IO_PORT "out_bits[29]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[30]" 138;
IO_PORT "out_bits[30]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[31]" 159;
IO_PORT "out_bits[31]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[32]" 26;
IO_PORT "out_bits[32]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[33]" 162;
IO_PORT "out_bits[33]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[34]" 29;
IO_PORT "out_bits[34]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[35]" 163;
IO_PORT "out_bits[35]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[36]" 38;
IO_PORT "out_bits[36]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[37]" 104;
IO_PORT "out_bits[37]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[38]" 85;
IO_PORT "out_bits[38]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[39]" 102;
IO_PORT "out_bits[39]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[40]" 14;
IO_PORT "out_bits[40]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[41]" 103;
IO_PORT "out_bits[41]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[42]" 86;
IO_PORT "out_bits[42]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[43]" 50;
IO_PORT "out_bits[43]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[44]" 166;
IO_PORT "out_bits[44]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[45]" 106;
IO_PORT "out_bits[45]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[46]" 109;
IO_PORT "out_bits[46]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[47]" 96;
IO_PORT "out_bits[47]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[48]" 152;
IO_PORT "out_bits[48]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[49]" 4;
IO_PORT "out_bits[49]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[50]" 61;
IO_PORT "out_bits[50]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[51]" 69;
IO_PORT "out_bits[51]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[52]" 112;
IO_PORT "out_bits[52]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[53]" 116;
IO_PORT "out_bits[53]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[54]" 12;
IO_PORT "out_bits[54]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[55]" 68;
IO_PORT "out_bits[55]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[56]" 128;
IO_PORT "out_bits[56]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[57]" 76;
IO_PORT "out_bits[57]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[58]" 108;
IO_PORT "out_bits[58]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[59]" 151;
IO_PORT "out_bits[59]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[60]" 41;
IO_PORT "out_bits[60]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[61]" 73;
IO_PORT "out_bits[61]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[62]" 7;
IO_PORT "out_bits[62]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[63]" 135;
IO_PORT "out_bits[63]" IO_TYPE=LVCMOS33;
