[submodule "1.Blinky--Verilog-VHDL-Python.Amaranth/4.amaranth/1.Blinky--Verilog-VHDL-Pytgon.Amaranth/4.amaranth/amaranth"]
	path = 1.Blinky--Verilog-VHDL-Python.Amaranth/4.amaranth/1.Blinky--Verilog-VHDL-Pytgon.Amaranth/4.amaranth/amaranth
	url = https://github.com/TarikHamedovic/amaranth.git
[submodule "1.Blinky--Verilog-VHDL-Python.Amaranth/4.amaranth/amaranth"]
	path = 1.Blinky--Verilog-VHDL-Python.Amaranth/4.amaranth/amaranth
	url = https://github.com/TarikHamedovic/amaranth.git
[submodule "1.Blinky--Verilog-VHDL-Python.Amaranth/4.amaranth/amaranth-boards"]
	path = 1.Blinky--Verilog-VHDL-Python.Amaranth/4.amaranth/amaranth-boards
	url = https://github.com/TarikHamedovic/amaranth-boards.git
