#
# Logical Preferences generated for Lattice by Synplify map202303lat, Build 132R.
#

# Period Constraints 
#FREQUENCY PORT "clk" 200.0 MHz;
#FREQUENCY PORT "clk_host" 200.0 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 
#BLOCK PATH FROM CLKNET "clk_host_c" TO CLKNET "clk_c";
#BLOCK PATH FROM CLKNET "clk_c" TO CLKNET "clk_host_c";
#BLOCK PATH FROM CLKNET "clk_host_c" TO CLKNET "clk_c";
#BLOCK PATH FROM CLKNET "clk_c" TO CLKNET "clk_host_c";

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
