//Gowin GW2AR-18CQN88 constraints file
//Project: TestStar
//Generated automatically by CCFGen

IO_LOC "clock" 63;
IO_PORT "clock" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "reset" 151;
IO_PORT "reset" IO_TYPE=LVCMOS33;
IO_LOC "in_valid" 31;
IO_PORT "in_valid" IO_TYPE=LVCMOS33;
IO_LOC "in_ready" 52;
IO_PORT "in_ready" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[0]" 73;
IO_PORT "in_bits[0]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[1]" 144;
IO_PORT "in_bits[1]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[2]" 164;
IO_PORT "in_bits[2]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[3]" 82;
IO_PORT "in_bits[3]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[4]" 42;
IO_PORT "in_bits[4]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[5]" 36;
IO_PORT "in_bits[5]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[6]" 4;
IO_PORT "in_bits[6]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[7]" 51;
IO_PORT "in_bits[7]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[8]" 85;
IO_PORT "in_bits[8]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[9]" 68;
IO_PORT "in_bits[9]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[10]" 168;
IO_PORT "in_bits[10]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[11]" 100;
IO_PORT "in_bits[11]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[12]" 107;
IO_PORT "in_bits[12]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[13]" 40;
IO_PORT "in_bits[13]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[14]" 56;
IO_PORT "in_bits[14]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[15]" 93;
IO_PORT "in_bits[15]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[16]" 84;
IO_PORT "in_bits[16]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[17]" 81;
IO_PORT "in_bits[17]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[18]" 12;
IO_PORT "in_bits[18]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[19]" 77;
IO_PORT "in_bits[19]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[20]" 70;
IO_PORT "in_bits[20]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[21]" 15;
IO_PORT "in_bits[21]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[22]" 86;
IO_PORT "in_bits[22]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[23]" 79;
IO_PORT "in_bits[23]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[24]" 60;
IO_PORT "in_bits[24]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[25]" 48;
IO_PORT "in_bits[25]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[26]" 148;
IO_PORT "in_bits[26]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[27]" 142;
IO_PORT "in_bits[27]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[28]" 112;
IO_PORT "in_bits[28]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[29]" 18;
IO_PORT "in_bits[29]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[30]" 55;
IO_PORT "in_bits[30]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[31]" 105;
IO_PORT "in_bits[31]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[32]" 75;
IO_PORT "in_bits[32]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[33]" 80;
IO_PORT "in_bits[33]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[34]" 11;
IO_PORT "in_bits[34]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[35]" 47;
IO_PORT "in_bits[35]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[36]" 161;
IO_PORT "in_bits[36]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[37]" 38;
IO_PORT "in_bits[37]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[38]" 149;
IO_PORT "in_bits[38]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[39]" 24;
IO_PORT "in_bits[39]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[40]" 106;
IO_PORT "in_bits[40]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[41]" 123;
IO_PORT "in_bits[41]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[42]" 99;
IO_PORT "in_bits[42]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[43]" 74;
IO_PORT "in_bits[43]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[44]" 166;
IO_PORT "in_bits[44]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[45]" 49;
IO_PORT "in_bits[45]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[46]" 139;
IO_PORT "in_bits[46]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[47]" 147;
IO_PORT "in_bits[47]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[48]" 72;
IO_PORT "in_bits[48]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[49]" 29;
IO_PORT "in_bits[49]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[50]" 7;
IO_PORT "in_bits[50]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[51]" 138;
IO_PORT "in_bits[51]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[52]" 103;
IO_PORT "in_bits[52]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[53]" 102;
IO_PORT "in_bits[53]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[54]" 50;
IO_PORT "in_bits[54]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[55]" 150;
IO_PORT "in_bits[55]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[56]" 101;
IO_PORT "in_bits[56]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[57]" 170;
IO_PORT "in_bits[57]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[58]" 162;
IO_PORT "in_bits[58]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[59]" 128;
IO_PORT "in_bits[59]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[60]" 9;
IO_PORT "in_bits[60]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[61]" 163;
IO_PORT "in_bits[61]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[62]" 172;
IO_PORT "in_bits[62]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[63]" 26;
IO_PORT "in_bits[63]" IO_TYPE=LVCMOS33;
IO_LOC "out_valid" 165;
IO_PORT "out_valid" IO_TYPE=LVCMOS33;
IO_LOC "out_ready" 135;
IO_PORT "out_ready" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[0]" 33;
IO_PORT "out_bits[0]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[1]" 156;
IO_PORT "out_bits[1]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[2]" 69;
IO_PORT "out_bits[2]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[3]" 78;
IO_PORT "out_bits[3]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[4]" 145;
IO_PORT "out_bits[4]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[5]" 122;
IO_PORT "out_bits[5]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[6]" 58;
IO_PORT "out_bits[6]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[7]" 167;
IO_PORT "out_bits[7]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[8]" 108;
IO_PORT "out_bits[8]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[9]" 116;
IO_PORT "out_bits[9]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[10]" 92;
IO_PORT "out_bits[10]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[11]" 119;
IO_PORT "out_bits[11]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[12]" 98;
IO_PORT "out_bits[12]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[13]" 129;
IO_PORT "out_bits[13]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[14]" 121;
IO_PORT "out_bits[14]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[15]" 111;
IO_PORT "out_bits[15]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[16]" 160;
IO_PORT "out_bits[16]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[17]" 30;
IO_PORT "out_bits[17]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[18]" 61;
IO_PORT "out_bits[18]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[19]" 39;
IO_PORT "out_bits[19]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[20]" 152;
IO_PORT "out_bits[20]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[21]" 126;
IO_PORT "out_bits[21]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[22]" 114;
IO_PORT "out_bits[22]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[23]" 8;
IO_PORT "out_bits[23]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[24]" 83;
IO_PORT "out_bits[24]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[25]" 54;
IO_PORT "out_bits[25]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[26]" 7;
IO_PORT "out_bits[26]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[27]" 20;
IO_PORT "out_bits[27]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[28]" 21;
IO_PORT "out_bits[28]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[29]" 37;
IO_PORT "out_bits[29]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[30]" 25;
IO_PORT "out_bits[30]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[31]" 124;
IO_PORT "out_bits[31]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[32]" 14;
IO_PORT "out_bits[32]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[33]" 64;
IO_PORT "out_bits[33]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[34]" 3;
IO_PORT "out_bits[34]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[35]" 62;
IO_PORT "out_bits[35]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[36]" 27;
IO_PORT "out_bits[36]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[37]" 113;
IO_PORT "out_bits[37]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[38]" 59;
IO_PORT "out_bits[38]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[39]" 41;
IO_PORT "out_bits[39]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[40]" 137;
IO_PORT "out_bits[40]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[41]" 10;
IO_PORT "out_bits[41]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[42]" 136;
IO_PORT "out_bits[42]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[43]" 57;
IO_PORT "out_bits[43]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[44]" 76;
IO_PORT "out_bits[44]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[45]" 158;
IO_PORT "out_bits[45]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[46]" 32;
IO_PORT "out_bits[46]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[47]" 157;
IO_PORT "out_bits[47]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[48]" 125;
IO_PORT "out_bits[48]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[49]" 146;
IO_PORT "out_bits[49]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[50]" 120;
IO_PORT "out_bits[50]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[51]" 173;
IO_PORT "out_bits[51]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[52]" 143;
IO_PORT "out_bits[52]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[53]" 117;
IO_PORT "out_bits[53]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[54]" 53;
IO_PORT "out_bits[54]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[55]" 96;
IO_PORT "out_bits[55]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[56]" 35;
IO_PORT "out_bits[56]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[57]" 104;
IO_PORT "out_bits[57]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[58]" 174;
IO_PORT "out_bits[58]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[59]" 6;
IO_PORT "out_bits[59]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[60]" 171;
IO_PORT "out_bits[60]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[61]" 169;
IO_PORT "out_bits[61]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[62]" 41;
IO_PORT "out_bits[62]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[63]" 16;
IO_PORT "out_bits[63]" IO_TYPE=LVCMOS33;
