BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# The clock "usb" and "gpdi" sheet
LOCATE COMP "clk" SITE "G2";
IOBUF PORT "clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;

# JTAG and SPI FLASH voltage 3.3V and options to boot from SPI flash
SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE;

#---------------------- BANK 6 -----------------------#
LOCATE COMP "uart_rx_serial" SITE "M1"; 
IOBUF PORT "uart_rx_serial" PULLMODE=UP IO_TYPE=LVCMOS33;

## Button
LOCATE COMP "arst" SITE "R1";  # FIRE1
IOBUF  PORT "arst" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

## LED indicators
LOCATE COMP "led[7]" SITE "H3";
LOCATE COMP "led[6]" SITE "E1";#
LOCATE COMP "led[5]" SITE "E2";
LOCATE COMP "led[4]" SITE "D1";
LOCATE COMP "led[3]" SITE "D2";
LOCATE COMP "led[2]" SITE "C1";
LOCATE COMP "led[1]" SITE "C2";
LOCATE COMP "led[0]" SITE "B2";
IOBUF PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; 
IOBUF PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; 
IOBUF PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; 
IOBUF PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; 
IOBUF PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; 
IOBUF PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; 

#---------------------- BANK 0 ------------------------#
LOCATE COMP "din" SITE "B11";
IOBUF PORT "din" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "bck" SITE "A10";
IOBUF PORT "bck" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "lrck" SITE "A9"; 
IOBUF PORT "lrck" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; 

