//Gowin GW2AR-18CQN88 constraints file
//Project: TestMesh
//Generated automatically by CCFGen

IO_LOC "clock" 21;
IO_PORT "clock" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "reset" 144;
IO_PORT "reset" IO_TYPE=LVCMOS33;
IO_LOC "in_valid" 38;
IO_PORT "in_valid" IO_TYPE=LVCMOS33;
IO_LOC "in_ready" 12;
IO_PORT "in_ready" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[0]" 108;
IO_PORT "in_bits[0]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[1]" 75;
IO_PORT "in_bits[1]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[2]" 31;
IO_PORT "in_bits[2]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[3]" 138;
IO_PORT "in_bits[3]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[4]" 32;
IO_PORT "in_bits[4]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[5]" 49;
IO_PORT "in_bits[5]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[6]" 51;
IO_PORT "in_bits[6]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[7]" 85;
IO_PORT "in_bits[7]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[8]" 28;
IO_PORT "in_bits[8]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[9]" 157;
IO_PORT "in_bits[9]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[10]" 156;
IO_PORT "in_bits[10]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[11]" 152;
IO_PORT "in_bits[11]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[12]" 113;
IO_PORT "in_bits[12]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[13]" 47;
IO_PORT "in_bits[13]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[14]" 3;
IO_PORT "in_bits[14]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[15]" 114;
IO_PORT "in_bits[15]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[16]" 82;
IO_PORT "in_bits[16]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[17]" 151;
IO_PORT "in_bits[17]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[18]" 105;
IO_PORT "in_bits[18]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[19]" 40;
IO_PORT "in_bits[19]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[20]" 7;
IO_PORT "in_bits[20]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[21]" 20;
IO_PORT "in_bits[21]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[22]" 137;
IO_PORT "in_bits[22]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[23]" 41;
IO_PORT "in_bits[23]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[24]" 122;
IO_PORT "in_bits[24]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[25]" 57;
IO_PORT "in_bits[25]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[26]" 172;
IO_PORT "in_bits[26]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[27]" 164;
IO_PORT "in_bits[27]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[28]" 41;
IO_PORT "in_bits[28]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[29]" 170;
IO_PORT "in_bits[29]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[30]" 42;
IO_PORT "in_bits[30]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[31]" 125;
IO_PORT "in_bits[31]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[32]" 61;
IO_PORT "in_bits[32]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[33]" 145;
IO_PORT "in_bits[33]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[34]" 162;
IO_PORT "in_bits[34]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[35]" 96;
IO_PORT "in_bits[35]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[36]" 64;
IO_PORT "in_bits[36]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[37]" 117;
IO_PORT "in_bits[37]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[38]" 8;
IO_PORT "in_bits[38]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[39]" 56;
IO_PORT "in_bits[39]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[40]" 167;
IO_PORT "in_bits[40]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[41]" 93;
IO_PORT "in_bits[41]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[42]" 4;
IO_PORT "in_bits[42]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[43]" 160;
IO_PORT "in_bits[43]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[44]" 104;
IO_PORT "in_bits[44]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[45]" 168;
IO_PORT "in_bits[45]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[46]" 119;
IO_PORT "in_bits[46]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[47]" 166;
IO_PORT "in_bits[47]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[48]" 16;
IO_PORT "in_bits[48]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[49]" 79;
IO_PORT "in_bits[49]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[50]" 50;
IO_PORT "in_bits[50]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[51]" 135;
IO_PORT "in_bits[51]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[52]" 70;
IO_PORT "in_bits[52]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[53]" 159;
IO_PORT "in_bits[53]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[54]" 7;
IO_PORT "in_bits[54]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[55]" 35;
IO_PORT "in_bits[55]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[56]" 11;
IO_PORT "in_bits[56]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[57]" 142;
IO_PORT "in_bits[57]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[58]" 72;
IO_PORT "in_bits[58]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[59]" 63;
IO_PORT "in_bits[59]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[60]" 129;
IO_PORT "in_bits[60]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[61]" 124;
IO_PORT "in_bits[61]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[62]" 69;
IO_PORT "in_bits[62]" IO_TYPE=LVCMOS33;
IO_LOC "in_bits[63]" 73;
IO_PORT "in_bits[63]" IO_TYPE=LVCMOS33;
IO_LOC "out_valid" 169;
IO_PORT "out_valid" IO_TYPE=LVCMOS33;
IO_LOC "out_ready" 84;
IO_PORT "out_ready" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[0]" 37;
IO_PORT "out_bits[0]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[1]" 147;
IO_PORT "out_bits[1]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[2]" 92;
IO_PORT "out_bits[2]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[3]" 123;
IO_PORT "out_bits[3]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[4]" 126;
IO_PORT "out_bits[4]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[5]" 58;
IO_PORT "out_bits[5]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[6]" 107;
IO_PORT "out_bits[6]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[7]" 53;
IO_PORT "out_bits[7]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[8]" 136;
IO_PORT "out_bits[8]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[9]" 9;
IO_PORT "out_bits[9]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[10]" 78;
IO_PORT "out_bits[10]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[11]" 174;
IO_PORT "out_bits[11]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[12]" 139;
IO_PORT "out_bits[12]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[13]" 76;
IO_PORT "out_bits[13]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[14]" 81;
IO_PORT "out_bits[14]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[15]" 83;
IO_PORT "out_bits[15]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[16]" 112;
IO_PORT "out_bits[16]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[17]" 9;
IO_PORT "out_bits[17]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[18]" 36;
IO_PORT "out_bits[18]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[19]" 15;
IO_PORT "out_bits[19]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[20]" 14;
IO_PORT "out_bits[20]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[21]" 150;
IO_PORT "out_bits[21]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[22]" 60;
IO_PORT "out_bits[22]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[23]" 29;
IO_PORT "out_bits[23]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[24]" 100;
IO_PORT "out_bits[24]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[25]" 25;
IO_PORT "out_bits[25]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[26]" 99;
IO_PORT "out_bits[26]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[27]" 18;
IO_PORT "out_bits[27]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[28]" 48;
IO_PORT "out_bits[28]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[29]" 54;
IO_PORT "out_bits[29]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[30]" 106;
IO_PORT "out_bits[30]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[31]" 128;
IO_PORT "out_bits[31]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[32]" 149;
IO_PORT "out_bits[32]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[33]" 161;
IO_PORT "out_bits[33]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[34]" 10;
IO_PORT "out_bits[34]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[35]" 59;
IO_PORT "out_bits[35]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[36]" 165;
IO_PORT "out_bits[36]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[37]" 143;
IO_PORT "out_bits[37]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[38]" 111;
IO_PORT "out_bits[38]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[39]" 103;
IO_PORT "out_bits[39]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[40]" 52;
IO_PORT "out_bits[40]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[41]" 24;
IO_PORT "out_bits[41]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[42]" 98;
IO_PORT "out_bits[42]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[43]" 80;
IO_PORT "out_bits[43]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[44]" 109;
IO_PORT "out_bits[44]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[45]" 171;
IO_PORT "out_bits[45]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[46]" 86;
IO_PORT "out_bits[46]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[47]" 158;
IO_PORT "out_bits[47]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[48]" 121;
IO_PORT "out_bits[48]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[49]" 6;
IO_PORT "out_bits[49]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[50]" 120;
IO_PORT "out_bits[50]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[51]" 116;
IO_PORT "out_bits[51]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[52]" 173;
IO_PORT "out_bits[52]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[53]" 102;
IO_PORT "out_bits[53]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[54]" 68;
IO_PORT "out_bits[54]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[55]" 39;
IO_PORT "out_bits[55]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[56]" 101;
IO_PORT "out_bits[56]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[57]" 55;
IO_PORT "out_bits[57]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[58]" 30;
IO_PORT "out_bits[58]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[59]" 27;
IO_PORT "out_bits[59]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[60]" 146;
IO_PORT "out_bits[60]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[61]" 33;
IO_PORT "out_bits[61]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[62]" 148;
IO_PORT "out_bits[62]" IO_TYPE=LVCMOS33;
IO_LOC "out_bits[63]" 62;
IO_PORT "out_bits[63]" IO_TYPE=LVCMOS33;
