(
    show_hierarchy: Some(true),
    show_menu: Some(false),
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_overview: Some(false),
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    waves: Some((
        source: File("D:\\Projects\\GitHub-repo\\eduSOC\\4.sim\\output\\waveform.fst"),
        format: Fst,
        active_scope: Some((
            strs: [
                "TOP",
                "tb",
                "dut",
                "u_sdram",
                "u_sdram_ctrl",
            ],
        )),
        displayed_items: [
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                        ],
                    ),
                    name: "clk_27",
                ),
                color: None,
                background_color: None,
                display_name: "clk_27",
                display_name_type: Unique,
                manual_name: None,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                        ],
                    ),
                    name: "led_n",
                ),
                color: None,
                background_color: None,
                display_name: "led_n",
                display_name_type: Unique,
                manual_name: None,
            )),
            Marker((
                color: None,
                background_color: None,
                name: None,
                idx: 0,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                        ],
                    ),
                    name: "O_sdram_cke",
                ),
                color: None,
                background_color: None,
                display_name: "O_sdram_cke",
                display_name_type: Unique,
                manual_name: None,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "dut",
                            "u_sdram",
                            "u_sdram_ctrl",
                        ],
                    ),
                    name: "state",
                ),
                color: None,
                background_color: None,
                display_name: "state",
                display_name_type: Local,
                manual_name: None,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                        ],
                    ),
                    name: "O_sdram_clk",
                ),
                color: None,
                background_color: None,
                display_name: "O_sdram_clk",
                display_name_type: Unique,
                manual_name: None,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                        ],
                    ),
                    name: "O_sdram_ras_n",
                ),
                color: None,
                background_color: None,
                display_name: "O_sdram_ras_n",
                display_name_type: Unique,
                manual_name: None,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                        ],
                    ),
                    name: "O_sdram_cas_n",
                ),
                color: None,
                background_color: None,
                display_name: "O_sdram_cas_n",
                display_name_type: Unique,
                manual_name: None,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                        ],
                    ),
                    name: "O_sdram_cs_n",
                ),
                color: None,
                background_color: None,
                display_name: "O_sdram_cs_n",
                display_name_type: Unique,
                manual_name: None,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                        ],
                    ),
                    name: "O_sdram_ba",
                ),
                color: None,
                background_color: None,
                display_name: "O_sdram_ba",
                display_name_type: Unique,
                manual_name: None,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                        ],
                    ),
                    name: "O_sdram_wen_n",
                ),
                color: None,
                background_color: None,
                display_name: "O_sdram_wen_n",
                display_name_type: Unique,
                manual_name: None,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                        ],
                    ),
                    name: "O_sdram_addr",
                ),
                color: None,
                background_color: None,
                display_name: "O_sdram_addr",
                display_name_type: Unique,
                manual_name: None,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                        ],
                    ),
                    name: "IO_sdram_dq",
                ),
                color: None,
                background_color: None,
                display_name: "IO_sdram_dq",
                display_name_type: Unique,
                manual_name: None,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                        ],
                    ),
                    name: "O_sdram_dqm",
                ),
                color: None,
                background_color: None,
                display_name: "O_sdram_dqm",
                display_name_type: Unique,
                manual_name: None,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                        ],
                    ),
                    name: "uart_rx",
                ),
                color: None,
                background_color: None,
                display_name: "uart_rx",
                display_name_type: Unique,
                manual_name: None,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                        ],
                    ),
                    name: "uart_tx",
                ),
                color: None,
                background_color: None,
                display_name: "uart_tx",
                display_name_type: Unique,
                manual_name: None,
            )),
            Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "dut",
                            "u_cpu",
                        ],
                    ),
                    name: "cpu_addr",
                ),
                color: None,
                background_color: None,
                display_name: "cpu_addr",
                display_name_type: Unique,
                manual_name: None,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "dut",
                            "u_cpu",
                            "u_cpu",
                        ],
                    ),
                    name: "cpu_state",
                ),
                color: None,
                background_color: None,
                display_name: "cpu_state",
                display_name_type: Local,
                manual_name: None,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "dut",
                            "u_cpu",
                        ],
                    ),
                    name: "imem_rdy",
                ),
                color: None,
                background_color: None,
                display_name: "imem_rdy",
                display_name_type: Unique,
                manual_name: None,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "dut",
                            "u_cpu",
                        ],
                    ),
                    name: "imem_vld",
                ),
                color: None,
                background_color: None,
                display_name: "imem_vld",
                display_name_type: Unique,
                manual_name: None,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "dut",
                            "u_cpu",
                        ],
                    ),
                    name: "imem_sel",
                ),
                color: None,
                background_color: None,
                display_name: "imem_sel",
                display_name_type: Unique,
                manual_name: None,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "dut",
                            "u_cpu",
                        ],
                    ),
                    name: "imem_rdat",
                ),
                color: None,
                background_color: None,
                display_name: "imem_rdat",
                display_name_type: Unique,
                manual_name: None,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "dut",
                            "u_cpu",
                        ],
                    ),
                    name: "cpu_instr",
                ),
                color: None,
                background_color: None,
                display_name: "cpu_instr",
                display_name_type: Unique,
                manual_name: None,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "dut",
                            "u_cpu",
                        ],
                    ),
                    name: "cpu_ready",
                ),
                color: None,
                background_color: None,
                display_name: "cpu_ready",
                display_name_type: Unique,
                manual_name: None,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "dut",
                            "u_cpu",
                        ],
                    ),
                    name: "cpu_valid",
                ),
                color: None,
                background_color: None,
                display_name: "cpu_valid",
                display_name_type: Unique,
                manual_name: None,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "dut",
                            "u_cpu",
                        ],
                    ),
                    name: "cpu_rdata",
                ),
                color: None,
                background_color: None,
                display_name: "cpu_rdata",
                display_name_type: Unique,
                manual_name: None,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "dut",
                            "u_cpu",
                        ],
                    ),
                    name: "cpu_wdata",
                ),
                color: None,
                background_color: None,
                display_name: "cpu_wdata",
                display_name_type: Unique,
                manual_name: None,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "dut",
                            "u_cpu",
                        ],
                    ),
                    name: "cpu_wstrb",
                ),
                color: None,
                background_color: None,
                display_name: "cpu_wstrb",
                display_name_type: Unique,
                manual_name: None,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "dut",
                            "u_cpu",
                            "bus",
                        ],
                    ),
                    name: "addr",
                ),
                color: None,
                background_color: None,
                display_name: "addr",
                display_name_type: Unique,
                manual_name: None,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "dut",
                            "u_cpu",
                            "bus",
                        ],
                    ),
                    name: "vld",
                ),
                color: None,
                background_color: None,
                display_name: "vld",
                display_name_type: Unique,
                manual_name: None,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "dut",
                            "u_cpu",
                            "bus",
                        ],
                    ),
                    name: "rdy",
                ),
                color: None,
                background_color: None,
                display_name: "rdy",
                display_name_type: Unique,
                manual_name: None,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "dut",
                            "u_cpu",
                            "bus",
                        ],
                    ),
                    name: "wdat",
                ),
                color: None,
                background_color: None,
                display_name: "wdat",
                display_name_type: Unique,
                manual_name: None,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "dut",
                            "u_cpu",
                            "bus",
                        ],
                    ),
                    name: "we",
                ),
                color: None,
                background_color: None,
                display_name: "we",
                display_name_type: Unique,
                manual_name: None,
            )),
            Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "dut",
                            "u_cpu",
                            "bus",
                        ],
                    ),
                    name: "rdat",
                ),
                color: None,
                background_color: None,
                display_name: "rdat",
                display_name_type: Unique,
                manual_name: None,
            )),
        ],
        viewport: (
            curr_left: 44878101.89364182,
            curr_right: 44997424.61706643,
        ),
        num_timestamps: (1, [
            1000000000,
        ]),
        variable_format: {
            (
                root: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "dut",
                            "u_cpu",
                            "u_cpu",
                        ],
                    ),
                    name: "cpu_state",
                ),
                field: [],
            ): "Octal",
            (
                root: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "dut",
                            "u_cpu",
                        ],
                    ),
                    name: "imem_rdat",
                ),
                field: [],
            ): "RV32I",
            (
                root: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "dut",
                            "u_sdram",
                            "u_sdram_ctrl",
                        ],
                    ),
                    name: "state",
                ),
                field: [],
            ): "Hexadecimal",
        },
        cursor: Some((1, [
            713187000,
        ])),
        right_cursor: None,
        markers: {
            0: (1, [
                698094000,
            ]),
        },
        focused_item: Some(4),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: true,
    show_gestures: false,
    show_quick_start: false,
    show_wave_source: true,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: NanoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_name_filter_type: Fuzzy,
    rename_target: None,
    ui_scale: None,
)